.container {
  width: 100dvw;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.wrapper {
  width: 70%;
  text-align: center;
  display: grid;
  justify-content: center;
  align-items: center;
  color: wheat;
}

h1 {
  font-size: larger;
}
.todoForm {
  padding: 10px;
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
}

.todoForm input {
  overflow: hidden;
  border: 2px solid rgb(66, 66, 66);
  padding: 10px;
  border-radius: 5px;
  outline: none;
  text-decoration: none;
}

.todoForm input:focus {
  border: 2px solid white;
}
.list {
  font-size: 20px;
  cursor: pointer;
}
.listitem {
  list-style: none;
  cursor: pointer;
}
.active {
  background: rgb(171, 240, 240);
  font-size: 22px;
  font-weight: 500;
}
